body{
    display: flex;
    height: 100vh;
    background-image: url(assets/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Poppins", sans-serif;
    #loginPage,#registrationPage{
        display: flex;
        width: 50%;
        background-color: rgba(240,240,240,0.8);
        margin: 5% 10%;
        position: relative;
        box-shadow: 35px -30px rgba(218, 226, 67, 0.2);
        &::after{
            content: "";
            background-color: rgba(215,165,114,0.6);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 7%;
            left: 10%;
            z-index: -1;
        }
        .formClass{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin: 20%;
            label{
                display: block;
                width: 100%;
            }
            input{
                display: block;
                width: 100%;
                height: 40px;
                margin-bottom: 20px;
                padding: 10px;
                border: 1px solid rgba(215,165,114,0.9);
                background-color: #fffa;
                &[type="button"]{
                    margin-top: 20px;
                    text-transform: uppercase;
                    &:hover{
                        background-color: rgba(215,165,114,0.9);
                    }
                }
            }
        }
    }
    #userLandingPage{
        width: 100%;
        #header{
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            background-color: #fff;
            #logo{
                display: flex;
                align-items: center;
                img {
                    width: auto;
                    height: 100px;
                    transition: transform 0.5s; 
                    transform-style: preserve-3d;
                    animation: rotate 3s linear infinite;
                    &:hover{
                        animation-play-state: paused; /* Pause the animation on hover */
                        transform: rotateY(0deg);
                    }
                }
            }
            #navigation{
                display: flex;
                ul{
                    padding-left: 50px;
                    display: flex;
                    li{
                        list-style: none;
                        border: 1px solid transparent;
                        a{
                            display: block;
                            padding: 5px 10px;
                            text-decoration: none;
                            color: #03A753;
                        }
                        &:hover{
                            border: 1px solid #FAAF29;
                        }
                    }
                }
            }
            #logoutButton{
                display: flex;
                text-align: center;
                padding: 5px 15px;
                border: 1px solid #FAAF29;
                color: #03A753;
                line-height: normal;
                &:hover{
                    background-color: #03A753;
                    color: #fff;
                }
            }
        }
        #main{
            min-height: calc(100vh - 200px);
            background-color: rgba(215,165,114,0.9);;
        }
        #footer{
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            background-color: #fff;
        }
    }
}
.displayNone{
    display: none !important;
}
@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}